html, body {
    height: 100%;
    width: 100%;
}

.backstretch-carousel{
    position: fixed;
    background-color:  #000000;
    height: 100%;
    width: 100%;
    padding: 0 3.5714285714285714285714285714286em;//0 2.2631578947368421052631578947368%;
}

#navbar.navbar.navbar-fixed-top.navbar-default {
    padding: 0 4.8828125%;   
    border-color: #3d5e19;
    width: 92.679355783308931185944363103953%;
    margin: 0 auto;
    font-family: "Cinzel Decorative", sans-serif;
}

/*------------------------MAIN CONTENT------------------------------------*/
.content-wrapper {
    width: 100%;
    height: 100%;
    padding: 3.5714285714285714285714285714286em;
    //padding-top: 7.8313253012048192771084337349398%;
   // margin: 0 auto;
}

.content-wrapper-inner {
    height: 100%;
    margin: 0 auto;
}

    /*--------------------GALLERY---------------------------*/

.gallery-row{
    margin-top: 3.5714285714285714285714285714286em;
    height: 40.5%;
}

.img-window{
    margin: 0 !important;
    padding: 0 3.6603221083455344070278184480234%;
    text-align: center;
}

.gall-img-desc {
    position: absolute;
    display: none;
    z-index: 5;
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 1.3em;
    color: #ffffff;
}

#desc_paint {
    bottom: 7em;
}

#desc_patio {
    bottom: 7em;
}

#desc_cabinet {
    bottom: 7em;
}

#desc_newcon {
    bottom: 7em;
}

#desc_roof {
    bottom: 7em;
}

#desc_tile {
    bottom: 7em;
}

#desc_crown {
    bottom: 7em;
}

#desc_ceiling {
    bottom: 7em;
}

#desc_bath {
    bottom: 7em;
}

#desc_faux {
    bottom: 7em;
}

#desc_hardwood {
    bottom: 7em;
}

#desc_venetian {
    bottom: 7em;
}