@import "variables.less";

html, body {
    height: 100%;
    width: 100%;
    color: #ffffff;
}

.backstretch-carousel{
    position: fixed;
    background-color:  #000000;
    height: 100%;
    width: 100%;
    padding: 0 3.5714285714285714285714285714286em;//0 2.2631578947368421052631578947368%;
}

#nav-wrap {
    position: fixed;
    left: 0;
    right:0;
    width: 100%;
    padding: 0 3.5714285714285714285714285714286em;
    min-height: 50px;
    z-index: 1030;
}

#navbar {
    padding: 0 1.5%;
    border-color: #3d5e19;
    border-width: 0 0 2.3px;
    border-radius: 0;
    width: 100%;
    margin: 0 auto;
    font-family: "Cinzel Decorative", sans-serif;
}

.navbar-brand {
    padding: 0;

    > img {
        width: @navbar-height * 2.408695652;
    }
}
/*------------------------MAIN CONTENT------------------------------------*/
.content-wrapper {
    width: 100%;
    height: 100%;
    display: table;
    padding: 3.5714285714285714285714285714286em 3.5714285714285714285714285714286em 0;
    //padding-top: 7.8313253012048192771084337349398%;
   // margin: 0 auto;

   .glass {
        width: 100%;
        height: 28.571428571em;
    }
}

    /*--------------------WELCOME----------------------------*/

#welcome-wrap {
  position: relative;
  top: 19em;
  text-align: center;

  @media only screen and (min-width: 768px) {top: 21.928571429em;}

  .row {
    font-family: "Raleway", sans-serif;

    div:first-child {
      text-align: center;
      @media only screen and (min-width: 768px) {width: 45%;}
      @media only screen and (min-width: 1366px) {position: relative; right: 1em; top: 1em;}
      img {
        width: 100%;
        height: 2em;
        @media only screen and (min-width: 570px) and (max-width: 767px) {width: 25.714285714em;}
        @media only screen and (min-width: 768px) {width: 18.857142857em;}
        @media only screen and (min-width: 960px) {width: 21em;}
        @media only screen and (min-width: 1200px) {width: 23em;}
        @media only screen and (min-width: 1366px) {width: 25em;}
      }
    }

    h2 {
      font-family: "Cinzel Decorative", sans-serif;
      @media only screen and (min-width: 768px) {margin-bottom: 5px;}
    }

    h1 {
      font-family: "Tangerine", sans-serif;
      font-size: 2.4em;
      position: relative;
      top: 0.85em;
      right: 0.65em;
      @media only screen and (max-width: 767px) {display: none;}
      @media only screen and (min-width: 1366px) {font-size: 3em;}
    }

    p {
      @media only screen and (min-width: 714px) and (max-width: 767px) {padding-right: 7.5em; padding-left: 7.5em;}
      @media only screen and (min-width: 768px) {padding-left: 1em; padding-right: 2.5em; text-align:left;}
      @media only screen and (min-width: 937px) {padding-right: 4em;}
      @media only screen and (min-width: 1173px) {padding-right: 5em;}
      @media only screen and (min-width: 1132px) {padding-right: 6em;}
    }
  }
}

    /*--------------------SERVICES---------------------------*/

.screen-wrap {
    position: relative;
    top: 16.6666667%;
    clear: both;
    display: table-cell;

    @media only screen and (min-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media only screen and (min-width: 980px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media only screen and (min-width: 1024px) {
      padding-left: 65px;
      padding-right: 65px;
    }

    @media only screen and (min-width: 1200px) {
      padding-left: 150px;
      padding-right: 150px;
    }

    #services-wrap-inner {
      position: relative;
      width: 19.642857143em;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: 'Raleway', sans-serif;

      @media only screen and (min-width: 500px) {width: 22.375em;}
      @media only screen and (min-width: 500px) {width: 27.5em;}
      @media only screen and (min-width: 768px) {width: 42.857142857em;}
      @media only screen and (min-width: 992px) {width: 54.857142857em;}
      @media only screen and (min-width: 1200px) {width: 64.285714286em;} 

      #services-content-container {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;

        > .row {
          margin-left: 0;
          margin-right: 0;

          > div {
            padding-left: 0;
            padding-right: 0;
          }
        }

        h1 {
          font-family: 'Tangerine', sans-serif;
          margin-bottom: 0;
          @media only screen and (max-width: 600px) {font-size: 1.8em;}
        }

        h4 {
          font-weight: bold;
          @media only screen and (max-width: 767px) {font-size: 1.2em;}
        }

        header img {
          width: 18.214285714em;
          height: 1.4em;
          margin-bottom: 1.5em;

          @media only screen and (min-width: 600px) {width: 25em; height: 1.5em;}
          @media only screen and (min-width: 768px) {width: 26.428571429em; height: 1.75em;}

        }

        .scrollbar{ background: transparent url(../img/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; right: 1%; width: 15px; }
        .track { background: transparent url(../img/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
        .thumb { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
        .thumb .end { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }

        .screen-content {
          height: 18.571428571em;
          position: relative;
          overflow: hidden;
          font-size: 0.875em;

          .screen-text {
            position: absolute;
            list-style: none;
            left: 0;
            top: 0;
            padding: 0 2.5em 0;
            margin: 0;



            .noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

            #our_srvcs {
              display: none;
              @media only screen and (min-width: 768px) {display: block;}
            }

            #our_srvcs2 {
              display: block;
              @media only screen and (min-width: 768px) {display: none;}
            }

            .col-sm-4:nth-of-type(1) {
              @media only screen and (min-width: 768px) {
                text-align: left;
              }
            }

          }
        }
      }
    }
}

    /*--------------------GALLERY---------------------------*/

.gallery-wrap {
    height: 100%;
    display: table-cell;
}
.gallery-row{
    margin-top: 2.0em;
    height: 35em;

    @media only screen and (min-width: 768px) {height: 15em;}
}

.img-window-wrap {
    text-align: center;
}

.img-window{
    text-align: center;
    margin: 2em auto;
    height: 10.357142857em;

    @media only screen and (min-width: 768px) {
      height: 12.857142857em;
    }

    @media only screen and (min-width: 978px) {
      height: 14em;
    }

    @media only screen and (min-width: 1024px) {
      width: 18.5em;
    }
}


.gall-img-desc {
    position: relative;
    display: none;
    margin: auto;
    z-index: 5;
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 0.8em;
        @media only screen and (min-width: 768px) {font-size: 1em;}
        @media only screen and (min-width: 1200px) {font-size: 1.3em;}
}

.gall-image {
    width: 11.785714286em;
    height: 86.991869919%;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
      width: 100%;
    }
}


/*.gall-desc-wrap {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 49.285714286% 0 49.285714286%;
}*/

.lightboxgallery {
  display: none;

  img {
    width: 17.857142857em; //250px
    height: 13.428571429em;//188px

    @media only screen and (min-width: 800px) {width: 28.571428571em; height: 21.428571429em;} //400px x 300px
    @media only screen and (min-width: 1366px) {width: 57.142857143em; height: 42.857142857em;} //800px x 600px
    @media only screen and (min-width: 1920px) {width: 71.428571429em; height: 53.571428571em;} //1000px x 750px
  }
}

      /*-----------------------CONTACT------------------------------*/
#contact-wrap-inner {
  position: relative;
  width: 19.642857143em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;

  @media only screen and (min-width: 500px) {width: 22.375em;}
  @media only screen and (min-width: 500px) {width: 27.5em;}
  @media only screen and (min-width: 768px) {width: 42.857142857em;}
  @media only screen and (min-width: 992px) {width: 54.857142857em;}
  @media only screen and (min-width: 1200px) {width: 64.285714286em;} 


  #contact-content-container {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;

    > .row {
      margin-left: 0;
      margin-right: 0;

      > div {
        padding-left: 0;
        padding-right: 0;

        
        img {
          width: 7.142857143em;
          height: 7.142857143em;

          @media only screen and (min-width: 500px) {width: 10.714285714em; height: 10.714285714em;}
          @media only screen and (min-width: 992px) {width: 14.285714286em; height: 14.285714286em;}
        }
        
      }
    }

    h1 {
      font-family: 'Tangerine', sans-serif;
      margin-bottom: 0;
      font-size: 2.571428571em;
      @media only screen and (max-width: 768px) {font-size: 1.8em;}
    }

    .screen-content {
      height: 26.785714286em;
      position: relative;
      overflow: hidden;
      font-size: 0.875em;
      bottom: 4.285714286em; 

      @media only screen and (min-width: 500px) {bottom: 4.642857143em; height: 29em;}

      :after {
       content: " ";
       display: table;
      }     

      .screen-text {
        position: absolute;
        list-style: none;
        left: 0;
        top: 0;
        padding: 0 2.5em 0;
        margin: 0;

        #brazImg1 {

          :after {
            content: " ";
            display: table;
          }

          @media only screen and (min-width: 768px) {display: none;}
        }

        #brazImg2 {
          display: none;

          @media only screen and (min-width: 768px) {display: block;}
        }
      }
    }
  }
}